.video-chat {}
.messages-container {
    border: 1px solid #eee;
    border-radius: 5px;
}
.messages-list {
    height: 350px;
    padding: 10px 10px 30px;
    background-color: #eee;
    overflow-y: auto;
}
.messages-list .brief-date-container {
    text-align: center;
}
.messages-list .brief-date-container .brief-date {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    color: #888;
    clear: both;
    margin-bottom: 10px;
}
.messages-notifications {
    background-color: #eee;
    height: 25px;
    color: #888;
    position: relative;
    top: -20px;
    padding-left: 10px;
    font-size: .9em;
}
.message-item {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px 15px;
    width: 80%;
    float: right;
    border-radius: 10px;
}
.my-message {
    float: left;
}
.message-control {
    background-color: #fff;
    margin-top: 20px;
}
.message-control[hidden] {
    display: none;
}
.message-control .message-text-input {
    width: 100%;
    border: none;
    outline: none;
    padding-right: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #aaa;
}
.text-muted {
    opacity: .6;
}
small {
    font-size: .7em;
}